.footer {
  width: 100%;
  background-color: $color__background-body;
  padding: 50px 0 0;
  color: $color__header-bg;
  text-align: center;
}

.footer-top {
  .info {
    margin-bottom: 50px;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    @media (min-width: 900px) {
      width: 50%;
    }
  }
  .social ul {
    padding: 0;
    width: 250px;
    margin: 16px auto;
    @media (min-width: 700px) {
      width: 345px;
    }
  }
  .social li {
    float: left;
    margin-left: 9px;
    list-style: none;
    &:first-child {
      margin-left: 0;
    }
    .si {
      font-size: 1.2rem;
      display: block;
      width: 34px;
      height: 34px;
      border: 1px solid $color__header-bg;
      line-height: 1.8;
      &:hover {
        border-color: $color__link-hover;
      }
      @media (min-width: 700px) {
        font-size: 1.75rem;
        width: 50px;
        height: 50px;
      }
    }
  }
  .details {
    a {
      text-decoration: underline;
    }
  }
  a {
    color: $color__header-bg;
    text-decoration: none;
    &:hover {
      color: $color__link-hover;
    }
  }
}

.footer-bottom {
  padding: 16px 0;
  border-top: 1px solid $color__header-bg; 
}