.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding: 8px 0;
  background: rgba(0,0,0,0.9);
  @media screen and (min-width: 700px) {
    background: transparent;
    transition: all 0.2s;
    &.pinned {
      background: $color__header-bg;
    }
  }
}

.navbar-toggle {
  display: block;
  background: none;
  border: none;
  box-shadow: none;
  position: absolute;
  top: -2px;
  right: 12px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  text-shadow: $shadow__big;
  &.rotate {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  i {
    font-size: 3rem;
    color: #ffffff;
  }
  @media (min-width: 700px) {
    display: none;
  }
  @media (min-width: 900px) {
    top: 12px;
  }
}