.intro {
  padding-top: 100px;
  height: 100%;
  background: url(images/header.jpg) center fixed;
  background-size: cover;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 700px) {
    padding-top: 50px;
    height: 100vh;
  }
}

.intro-text {
  text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
  p {
    font-size: 1.25rem;
  }
}

.btn {
  display: block;
  background: rgba(244,67,54,1);
  color: $color__link;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px;
  transition: all 0.2s;
  margin: 32px 0;
  font-weight: 700;
  &:hover {
    background: rgba(244,67,54,0.9);
    color: $color__link;
  }
  @media (min-width: 700px) {
    width: 200px;
    margin: 32px auto;
  }
}