.work {
  background: $color__background-offWhite;
  .wrapper {
    padding: 0;
  }
}
.featured {
  .item {
    float: left;
    width: 100%;
    padding: 40px 16px 0 16px;
    @media (min-width: 700px) {
      width: 50%;
    }
    figure {
      position: relative;
      margin: 0;
      a {
        display: block;
        line-height: 0;
        .overlay {
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: $color__overlay;
          transition: opacity 0.2s;
          display: flex;
          &:hover {
            opacity: 1;
          }
          i {
            margin: auto;
            @include font-size(2.25);
          }
        }
        &:hover {
          color: $color__background-body;
        }
      }
    }
    figcaption {
      background: $color__background-body;
      padding: 8px;
      border-top: 0;
      border: 1px solid $color__background-hr;
      border-bottom-width: 2px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      a {
        color: $color__text-main;
        &:hover {
          color: $color__link-hover;
        }
      }
    }
  }
}

.gallery {
  padding: 0 16px;
  margin-top: 32px;
  .gallery-item {
    position: relative;
    width: 300px;
    margin: 0 auto;
    @media (min-width: 700px) {
      float: left;
      width: 25%;
    }
    a {
      display: block;
      line-height: 0;
      &:hover {
        color: $color__background-body;
      }
    }
    .overlay {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $color__overlay;
      transition: opacity 0.2s;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      &:hover {
        opacity: 1;
      }
      .title {
        margin: auto;
      }
      h5,h6 {
        line-height: 1.25;
      }
    }
  }
  .flickity-page-dots {
    position: relative;
    bottom: -10px;
  }
}

.single-portfolio { 
  main {
    padding: 150px 0 110px;
    background: $color__header-bg;
    color: $color__background-body;
  }
  .hentry {
    margin: 0;
  }
  .gallery img {
    display: block;
    margin: 0 auto;
  }
  .entry-header {
    text-align: center;
  }
  .description {
    padding: 16px 0 0 16px;
    width: 100%;
    float: left;
    @media (min-width: 700px) {
      width: 70%;
    }
  }
  .btn {
    margin: 32px 0;
    text-align: center;
  }
  .portfolio-sidebar {
    padding-top: 16px;
    width: 100%;
    float: left;
    @media (min-width: 700px) {
      width: 25%;
      float: right;
    }
    ul {
      margin: 0;
      padding: 0;
      padding-left: 16px;
    }
    li {
      list-style-type: none;
      i {
        display: inline-block;
        padding-right: 5px;
      }
    }
  }
}

