$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #E6E9ED;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-darkGrey: #4A423F;
$color__background-offWhite: #F2F5F7;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: white;
$color__link-visited: white;
$color__link-hover: rgb(244,67,54);
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__header-bg: #212121;

$color__input-placeholder: rgba(255,255,255,0.8);
$color__button: rgb(244,67,54);
$color__overlay: rgba(244,67,54,0.8);
$color__success-bg: rgba(255,255,255,0.95);
